:root {
    --nav-width: 224px;
    --w-wrapper: 1600px;
    --02transition: 0.2s ease-in-out;
}
/*------ menu drawe positioning -------*/

#nav_checkbox {
    position: absolute;
    visibility: hidden;
}
#nav_label {
    width: 48px;
    height: 48px;
    background-color: transparent;
    position: absolute;
/*    right: -48px;*/
    left: var(--nav-width);
    top: 0px;
/*    transition: background-color 0.2s ease-in-out, width 0s 0.2s, height 0s 0.2s;*/
/*    fade in before resize, disabled for now for faster return*/
}
#nav_label::before, #nav_label::after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    margin: 16px 0px 0px 16px;
    border-radius: 999px;
    background-color: var(--sw-10);
/*    box-shadow: 0px 10px var(--sw-8), 0px 16px var(--sw-8);*/
    transform-origin: left;
    transition: transform 0.2s 0.2s ease-in-out;

}
#nav_label::after {
     margin-top: 11px;
}

.nav {
    height: 100%;
    width: var(--nav-width);
    padding: 48px 16px;
    position: fixed;
    background-color: var(--sw-3);
    left: calc(var(--nav-width) * -1);
    top: 0px;
    z-index: 2;
    transition: left 0.2s ease-in-out;
    box-shadow: var(--boxshadow-card);
}
.nav_header {
    width: 100%;
    height: 48px;
    background: url(../img/logo_s.png) no-repeat center / auto 28px, var(--sw-3-5);
    position: fixed;
    top: 0px;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}

#nav_checkbox:checked ~ .nav, .nav:focus-within {
    left: 0;
}

#nav_checkbox:checked ~ .nav #nav_label, .nav:focus-within #nav_label {
/*    width: calc(100vw - var(--nav-width));*/
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    transition: background-color 0.2s ease-in-out;
}
#nav_checkbox:checked ~ .nav #nav_label::before, .nav:focus-within #nav_label::before {
    transform: rotate(45deg);
}
#nav_checkbox:checked ~ .nav #nav_label::after, .nav:focus-within #nav_label::after {
    transform: rotate(-45deg);
}
#nav_checkbox:checked ~ .content, .nav:focus-within ~ .content, #nav_checkbox:checked ~ .nav_header {
    transform: translateX(var(--nav-width));
    /*    transform doesn't need content to set 100% width, but anochor link would reset transform everytime */
}
.content {
    padding-top: 48px;
/*    offset header bar */
}
.content > section {
    scroll-margin-top: 48px;
}
/*------ menu drawer content -------*/

.nav > img {
    margin-bottom: 48px;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav ul li {
    padding: 16px 16px 16px 35px;
    font-weight: 700;
    position: relative;
}
.nav ul img {
    position: absolute;
    top: 1em;
    left: 0;
}

@media screen and (min-width: 1024px) {
    #nav_checkbox, #nav_label, .nav_header {
        display: none;
    }
    .nav {
        position: fixed;
        top: 0;
        left: 0;
    }
    #nav_checkbox:checked ~ .content, .nav:focus-within ~ .content {
        transform: none;
    }
    .content {
        margin-left: var(--nav-width);
        padding-top: unset;
    }
    .content > section {
    scroll-margin-top: 0;
}
}

/*---- section 1 adventurer's registery ----*/

.m_registery div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
    align-items: start;
}
.m_registery figure {
    border-radius: 6px;
    background-color: var(--sw-3);
    overflow: hidden;
    margin: 0;
    box-shadow: var(--boxshadow-card);
}
.m_registery .bg {
    height: 200px;
    object-fit: cover;
    width: 100%;
    transition: object-position var(--02transition);
}
figure:is(:hover, :focus-within) .bg {
    object-position: bottom right;
}
.m_registery .avatar {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 4px solid var(--sw-14);
    margin: -36px 0 0 32px;
    position: relative;
/*use position relative to move up img bg color stacking */
    box-shadow: var(--boxshadow-card);
}
.red .avatar {
    background-color: coral;
}

.blue .avatar {
    background-color: skyblue;
}

.green .avatar {
    background-color: darkseagreen;
}

.yellow .avatar {
    background-color: lemonchiffon;
}
.red h4 {
    color: orangered;
}

.blue h4 {
    color: skyblue;
}

.green h4 {
    color: yellowgreen;
}

.yellow h4 {
    color: yellow;
}
.m_registery h4 {
    margin: -20px 16px 0 auto;
    text-align: right;
}

.m_registery h4::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 12px 0 0;
    background: conic-gradient(rgba(0, 0, 0, 0) 0deg 45deg, rgba(0, 0, 0, 0.2) 45deg 135deg, rgba(0, 0, 0, 0) 135deg 225deg, rgba(255, 255, 255, 0.2) 225deg 315deg, rgba(0, 0, 0, 0) 315deg 360deg), currentColor;
    transform: translateY(-2px) scaleX(0.6) rotate(45deg);
}

.m_registery figcaption {
    padding: 12px 16px 20px;
}
.m_registery .btn {

/*    display: none;*/
}

.m_registery figcaption p {
    margin: 0;
}

/*--------- archives ----------*/
.m_archives ul {
    columns: 3 360px;
    column-gap: var(--margin-s);
}
.m_archives li {
    break-inside: avoid;
}
.m_archives li + li {
    margin-top: var(--margin-l)
}
.m_archives article {
    display: flex;
    max-width: 560px;
    margin: 0 auto 8px;
    overflow: hidden;
    border-radius: 4px;
    background-color: var(--sw-3);
    box-shadow: var(--boxshadow-card);
}
.m_archives h3 {
    text-align: center;
    margin-bottom: var(--margin-m);
}
.m_archives article img {
    object-fit: cover;
    width: 144px;
}
.m_archives footer {
    padding: 12px;
    flex-grow: 1;
}
.m_archives .btn {
    margin-top: 8px;
}

/*--------- links ----------*/
.m_links ul {
    columns: 3 320px;
    column-gap: var(--margin-s);
}
.m_links li {
    break-inside: avoid;
}
.m_links li + li {
    margin-top: var(--margin-l);
}
.m_links h3 {
    text-align: center;
    margin-bottom: var(--margin-m);
}
.m_links a {
    display: block;
    padding: 12px 16px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: var(--sw-3);
    box-shadow: var(--boxshadow-card);
}
.m_links a:hover {
    background-color: var(--sw-3-5);
}

/*--------- footer ----------*/
.m_footer {
    background-color: var(--sw-1);
    color: var(--sw-8);
}
