@import url('normalize.css');
@import url('main.css');
@import url('fonts.css');
@import url('01_color_typography.css');
@import url('02_base.css');
html {
    height: 100%;
    padding: 0;
}
body {
/*    height: 100%;*/
}
nav {
    padding: 48px 16px;
    background-color: var(--sw-3);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 192px;
}
nav > img {
    margin-bottom: 3em;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    padding: 1em 1em 1em 2.2em;
    font-weight: 700;
    position: relative;
}
nav ul img {
    position: absolute;
    top: 1em;
    left: 0;
}
main {
    margin: 0;
    padding: 0 0 0 224px;
    height: 100%;
}
main > * {
    padding: 64px;
}
main > *:nth-child(even) {
/*    background-color: var(--sw-2-5);*/
}
@media screen and (max-width: 767px) {
    body {
        min-width: calc(100vw + 192px + 32px);
        position: relative;
    }
    nav {
        position: absolute;
    }
    main {
        padding: 80px 32px 80px 256px;
    }
}

img {
    max-width: 100%;
    display: block;
}
.registery div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
    align-items: start;
}
.registery figure {
    border-radius: 8px;
    background-color: var(--sw-3);
    overflow: hidden;
    margin: 0;
    box-shadow: var(--boxshadow-card);
}
.registery .bg {
    height: 200px;
    object-fit: cover;
    width: 100%;
}
/*
.registery .test {
    background: blue;
    height: 200px;
}
*/
.registery .avatar {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 4px solid var(--sw-14);
    margin: -36px 0 0 2em;
    position: relative;
/*    z-index: 0;*/
    box-shadow: var(--boxshadow-card);
}
.red .avatar {
    background-color: coral;
}
.blue .avatar{
    background-color: skyblue;
}
.green .avatar {
    background-color: darkseagreen;
}
.yellow .avatar {
    background-color: lemonchiffon;
}

.red h4 {
    color: orangered;
}
.blue h4 {
    color: royalblue;
}
.green h4 {
    color: yellowgreen;
}
.yellow h4 {
    color: yellow;
}
.registery h4 {
    margin: -24px 16px 0 auto;
    text-align: right;
/*    padding-right: 2em;*/
}
.registery h4::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 12px 0 0;
    background: conic-gradient(rgba(0, 0, 0, 0) 0deg 45deg, rgba(0, 0, 0, 0.2) 45deg 135deg, rgba(0, 0, 0, 0) 135deg 225deg, rgba(255, 255, 255, 0.2) 225deg 315deg, rgba(0, 0, 0, 0) 315deg 360deg), currentColor;
    transform: translateY(-2px) scaleX(0.6) rotate(45deg);
}

figure figcaption {
    padding: 16px;
}
h3 {
    margin: 0 0 12px;
}
.btn {
    display: block;
    padding: 4px 16px;
    width: max-content;
    background-color: var(--sw-4);
    color: var(--sw-14);
    border-radius: 999px;
    margin: 16px 0 0 auto;
    font-weight: 700;
}
figcaption p {
    margin: 0;
}